<p id="notice"><%= notice %></p>

<h1>Instructor Courses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor_courses.each do |instructor_course| %>
      <tr>
        <td><%= link_to 'Show', instructor_course %></td>
        <td><%= link_to 'Edit', edit_instructor_course_path(instructor_course) %></td>
        <td><%= link_to 'Destroy', instructor_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor Course', new_instructor_course_path %>
