<!DOCTYPE html>
<html>

  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

<div class="total-container">

<div class="header">
  <!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Flixter</a>
      </div>

      <div class="collapse navbar-collapse" style="background:transparent">
        <ul class="nav navbar-nav" style="background:transparent">
          <li class="icon-bar"><a href="/">Home</a></li>
          <li class="icon-bar"><%= link_to 'Courses', courses_path %></li>
        </ul>
              <ul class="nav navbar-nav navbar-right" style="background:transparent">
                <% if user_signed_in? %>
                  <%= link_to 'Sign Out', destroy_user_session_path, class:'btn btn-default navbar-btn'%>
                    <% else %>
                  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
                  <%= link_to 'Sign Out', new_user_session_path, class: 'btn btn-default navbar-btn' %>
                <%end %>
                <li class="dropdown" style="background:transparent">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu" style="background:transparent">
                        <li><%= link_to 'Course List', courses_path %></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

</div>

<div class="body">

    <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

</div>

    <%= yield %>

    <br class="clr"/>

    <div class="footer">
         <div class="container">
           <p class="footer-block">
             <%= link_to 'Teach a Course', new_instructor_course_path %>
           </p>
        </div>
    </div>

  </div>

  </body>
</html>
